* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2rem;
  transition: 0.15s;
}

body {
  padding: 20px;
}

h1 {
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  height: 50px;
}

.navbar a {
  color: #024e67;
  padding: 10px 20px;
}

.navbar a:hover {
  color: darkcyan;
}

.navlinks {
  margin-left: 20px;
}

.navlinks li {
  display: block;
  float: left;
  position: relative;
  margin: 0 10px;
  border-bottom: 0.5px solid transparent;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown li {
  float: none;
  margin: 0;
}

.navlinks li:hover .dropdown {
  display: block;
}

.navlinks li:hover {
  border-bottom: 0.5px solid transparent;
}

.navlinks li:hover::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  border-bottom: 0.5px solid darkcyan;
  width: 90%;
}
